body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.App {
  margin-top: 7em;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5px;
  min-width: 310px;
}

#actions {
  margin: 0 auto;
  border: 3px solid red;
  align-content: center;
}

h2 {
   color: violet;
   margin: 0 auto;
   text-decoration: underline;
   margin: 4px auto 8px auto;
 }
