@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Sacramento');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.App {
  margin-top: 5%;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5px;
  min-width: 380px;
  max-width: 450px;
}

#actions {
  margin: 0 auto;
  border: 3px solid red;
  align-content: center;
  padding: 15px 5px 0 5px;
}

h1 {

   margin: 15px auto 8px auto;
}
#h2git {
 color: Green;
 font-family: 'Roboto Mono', monospace;
}
#h2sta {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  color: violet;
}
#h2io {
 font-family: 'Open Sans', sans-serif;
 color: blue;
}
p {
  margin: 0 5px;
}
