#Advanced {
  height: 150px;
  width: 95%;
  margin: 2px auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  #themes {

  }
  #slider {
    input {
      width: 85%;
      margin: 0 auto;
    }
    h4 {
      margin : 2px;
    }
  }
  #TFoptions {
    .row {
      width: 100%;
      margin: 0;
    }
    .hexaoptions {
      width: 100%;
      height: 42px;
      overflow: hidden;
    }
    .bootstrap-switch {
      background: none;
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid PALEGREEN;
      margin: 0 auto;
    }
  }
  h5 {

  }
}
