#Advanced {
  border: 3px solid violet;
  height: 250px;
  width: 95%;
  margin: 2px auto;
  #themes {

  }
  #slider {
    border: 1px solid grey;
    input {
      width: 85%;
      margin: 0 auto;
    }
    h4 {

    }
  }
  #TFoptions {
    display: flex;
    .row {
      flex: 1;
      width: 100%;
      margin: 0;
    }
    .hexaoptions {
      width: 100%;
      border: 1px solid black;
      height: 40px;

    }
    .bootstrap-switch {
      background: blue;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 auto;
    }
  }
}
