#Advanced {
  width: 95%;
  margin: 2px auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  #themes {

  }
  #slider {
    input {
      width: 85%;
      margin: 0 auto;
    }
    h4 {
      margin : 2px;
    }
  }
  #TFoptions {
    .row {
      width: 100%;
      margin: 0;
    }
    .hexaoptions {
      max-width: 33%;
      height: 25px;
      overflow: hidden;
      background: PALEGREEN;
      border-radius: 10px;
      margin: 3px auto;
    }
    .hexaoptions:hover {
      background: PAPAYAWHIP;
    }

  }
  h5 {
    margin: 1px auto 10px auto;
  }
}
