#Form {
  margin: 0 auto;
  text-align: center;
}
h2 {
   color: violet;
   margin: 0 auto;
   text-decoration: underline;
   margin: 4px auto 8px auto;
 }
#submit {
  height: 30px;
  background: red;
  max-width: 40%;
  color: white;
  margin: 4px auto;
}
#submit:hover {
  background: white;
  color: red;
  border: 2px solid red;
}
input {
  margin: 4px auto;
  border: 2px solid green;

}
