#Form {
  margin: 0 auto;
  text-align: center;
}
#submit {
  height: 30px;
  background: red;
  width: 70%;
  color: white;
  margin: 4px auto;
  padding-top: 3px;
  border: 2px solid white;
}
#submit:hover {
  background: white;
  color: red;
  border: 2px solid red;
}
input {
  margin: 10px auto 10px auto;
  border: 2px solid green;
  width: 70%;
  height: 35px;
  border-radius: 9px;
  text-align: center;
}
#GHinput {
  font-size: 25px;
}
