#Form {
  margin: 0 auto;
  text-align: center;
}
#submit {
  height: 30px;
  background: red;
  max-width: 40%;
  color: white;
  margin: 4px auto;
}
#submit:hover {
  background: white;
  color: red;
  border: 2px solid red;
}
input {
  margin: 4px auto;
  border: 2px solid green;
}
