#postpreview {
  width: 333px;
  height: 588px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 10px auto;
  background: url('https://i.imgur.com/FYuMxGJ.png');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: none;
}
#square {
  margin-top: 98px;
  height: 329px;
  text-align: left;
  overflow: hidden;
  background: white;
  border: 1px solid lightgray;
}

#userArea {
  max-width: 150px;
  overflow: hidden;
  display: flex;
  float: left;
  margin-top: 4px;
}

#git {
  height: 25px;
  width: 25px;
  margin: 3px 3px 3px 6px;
}
#username h3 {
  height: 20px;
  max-width: 60%;
  margin-top: 7px;
  margin-left: 5px;
  flex-grow: 1;
  margin-bottom: 7px;
}
#branding {
  float: right;
  height: 20px;
  text-align: center;
  width: 35%;
  font-size: 8pt;
  span {
    color: red;
  }
}
#postCodeArea {
  margin: 0px auto 40px auto;
  border: 3px solid black;
  max-height: 280px;
  min-height: 280px;
  width: 95%;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
  pre {
    width: 295px;
    margin-top: -3px;
    height: 270px;
//    border: 1px solid orange;
    #PostCode {
      font-family: monospace;
      white-space: pre;
    }
  }
}

#Hashtags {
  margin: 10px auto 0 135px;
  max-width: 90%;
  text-align: left;
  color: gray;
}
